<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url("admin/services/daed/status")%>', null,
		function(x, data)
		{
			var tb = document.getElementById('daed_status');
			if (data && tb)
			{
				if (data.running)
				{
					tb.innerHTML = '<em style=\"color:green\"><b><%:DAED%> <%:RUNNING%></b></em>' + "<input class=\"cbi-button cbi-button-reload mar-10\" type=\"button\" value=\" <%:Open Web Interface%> \" onclick=\"window.open('//" + window.location.hostname + ":" + <%=luci.sys.exec("uci -q get daed.config.listen_addr | awk -F: '{print $2}'")%> + "/')\"/>";
				}
				else
				{
					tb.innerHTML = '<em style=\"color:red\"><b><%:DAED%> <%:NOT RUNNING%></b></em>';
				}
			}
		}
	);
//]]></script>

<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="daed_status">
		<em><b><%:Collecting data...%></b></em>
	</p>
</fieldset>
